.D2C-Service {
    border-top: 1px solid #adb9c3;
    border-right: 1px solid #adb9c3;
    border-left: 1px solid #adb9c3;
}

.D2C-Service-Text {
    font-size: 1rem;
    padding: 15px 20px;
    border-color: #adb9c3;
    border-bottom: 1px solid #adb9c3;
    font-weight: 600;
}
