.product-landing__title {
  margin-bottom: 16px;
  padding-bottom: 13px;
  border-bottom: 1px solid #adb9c3;
}
.product-landing__model-id {
  margin-bottom: 0;
  color: var(--color-light-slate-grey);
  font-family: Semibold, Noto Sans, Arial, sans-serif;
  font-weight: 500;
  font-size: 12px;
  font-size: 0.75rem;
}
.product-landing__model-name {
  color: var(--color-primary);
  margin-bottom: 8px;
  font-family: Semibold, Noto Sans, Arial, sans-serif;
  font-weight: 500;
  font-size: 24px;
  font-size: 1.5rem;
}
.product-landing__description-link {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  border: none;
  margin-top: 6px;
  padding-bottom: 10px;
  border-bottom: 1px solid #adb9c3;
}
.product-landing__description-link-text {
  font-family: Semibold, Noto Sans, Arial, sans-serif;
  font-weight: 500;
  font-size: 14px;
  font-size: 0.875rem;
}
.product-landing__description-link-icon {
  display: inline-block;
  margin-left: 5px;
}
.product-landing__rating-energy {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.rating {
  height: var(--set-rating-height, var(--rating-height-18));
  line-height: 18px;
  white-space: nowrap;
}
.product-landing__rating-energy .rating {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  --set-rating-height: var(--set-rating-energy-height, var(--rating-height-14));
}
.rating .ratingMeter--stars {
  width: 90px;
  height: 18px;
}
.rating .ratingMeter--stars .ratingBar {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 70 20 20' fill='%23e0e0e0' stroke='transparent'%3E%3Cpath d='M10 71.53l2.752 5.617L19 78l-4.548 4.326 1.11 6.145L10 85.526 4.438 88.47l1.11-6.145L1 78l6.249-.853L10 71.53z'/%3E%3C/svg%3E");
}
.ratingBar {
  height: var(--set-rating-bar-height, var(--rating-height-18));
  background-size: var(
    --set-rating-bar-background-size,
    var(--rating-background-size)
  );
  background-repeat: repeat-x;
  background-position-x: var(
    --set-background-position-x,
    var(--rating-background-position-x)
  );
  display: inline-block;
  width: 100%;
}
.rating .ratingMeter--stars .ratingAmmount {
  background-color: transparent;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 70 20 20' fill='%23f3a309' stroke='transparent'%3E%3Cpath d='M10 71.53l2.752 5.617L19 78l-4.548 4.326 1.11 6.145L10 85.526 4.438 88.47l1.11-6.145L1 78l6.249-.853L10 71.53z'/%3E%3C/svg%3E");
}
.rating .ratingMeter--stars .ratingAmmount,
.rating .ratingMeter--stars .ratingBar {
  --set-rating-bar-height: var(--rating-height-16);
  --set-rating-bar-background-size: var(--rating-background-size, 18px 18px);
  background-repeat: repeat-x;
  --set-background-position-x: var(--rating-background-position-x, 0);
}
.ratingBar > span {
  display: block;
  height: inherit;
  text-indent: -9999px;
}
.product-landing__rating-energy .ratingReviews {
  font-size: 0.875rem;
  color: #011e41;
  margin-left: 6px;
}
.ratingReviews,
.ratingRounded {
  display: inline-block;
  line-height: 1;
  // vertical-align: text-top;
}
.product-landing__meta {
  padding: 20px 0px 20px 0px;
}
.D2CPDP-StockPrice {
  box-sizing: border-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 21px !important;
}
.D2CPDP-StockPrice-Left {
  -ms-flex-item-align: end;
  align-self: flex-end;
  display: inline-block;
}
.D2CPDP-StockPrice *,
.D2CPDP-StockPrice :after,
.D2CPDP-StockPrice :before {
  box-sizing: inherit;
}
.D2CPDP-StockPrice-Stock {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
}
.D2CPDP-StockPrice-StockLevel--2 {
  background-color: #00c77e;
}
.D2CPDP-StockPrice-StockLevel {
  display: inline-block;
  // vertical-align: middle;
  width: 8px;
  height: 8px;
  margin-right: 6px;
  border-radius: 100%;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.D2CPDP-StockPrice-StockMessage {
  font-family: Semibold, Noto Sans, Arial, sans-serif;
  font-weight: 500;
  font-size: 0.8rem;
  text-transform: none;
  display: inline-block;
  // vertical-align: middle;
  overflow-wrap: break-word;
  word-break: break-word;
  text-align: left;
}
.D2CPDP-StockPrice-SellPrice {
  font-family: Semibold, Noto Sans, Arial, sans-serif;
  font-weight: 500;
}
.D2CPDP-StockPrice-SellPrice {
  font-size: 35px;
  font-size: 2.1875rem;
  font-family: Semibold, Noto Sans, Arial, sans-serif;
  font-weight: 500;
  line-height: 0.9;
}
.product-landing__d2c.product-landing__d2c .D2CPDP-StockPrice-FormattedPrice {
  font-family: Semibold, Noto Sans, Arial, sans-serif;
  font-weight: 500;
  font-size: 24px;
  font-size: 1.5rem;
}
.D2CPDP-StockPrice-FormattedPrice {
  white-space: nowrap;
}
.D2CPDP-StockPrice-DisclaimerText {
  font-size: 0.875rem;
  margin-top: 4px;
  color: #7b8a9c;
  white-space: normal;
  font-family: Regular, Noto Sans, Arial, sans-serif;
  font-weight: 400;
  text-align: right;
}
.D2CPDP-StockPrice-ListPrice {
  display: flex;
  align-items: center;
  justify-content: center;
}
.D2CPDP-StockPrice-Info {
  color: #000;
  padding: 0;
  height: 16px;
  margin: 0 5px 0 0;
  line-height: 1;
  background-color: transparent;
  text-align: center;
  border: none;
}
.D2CPDP-StockPrice-PriceTag {
  font-size: 1rem;
  white-space: nowrap;
  font-family: Regular, Noto Sans, Arial, sans-serif;
  font-weight: 400;
  text-decoration: line-through;
  margin-right: 5px;
  color: #7b8a9c;
}
.D2CPDP-StockPrice-Savings {
  min-width: auto;
  padding-right: 8px;
  height: 23px;
  font-size: 0.75rem;
  font-family: Semibold, Noto Sans, Arial, sans-serif;
  font-weight: 500;
  background-color: #ff3b30;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  box-sizing: border-box;
  color: #fff;
  display: inline-block;
  line-height: 1;
  margin-left: 10px;
  padding: 6px 3px 0;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
}
.D2CPDP-StockPrice-Savings:before {
  content: '';
  display: block;
  position: absolute;
  left: -10px;
  top: 0;
  width: 10px;
  height: 100%;
  border-top: 13px solid transparent;
  border-bottom: 13px solid transparent;
  border-right: 10px solid #ff3b30;
}
.D2C-AddToBasketButton {
  cursor: pointer;
  background: transparent;
  margin: 0;
  border: 0;
  font-size: 16px;
  color: #fff;
  background: #fe3921;
  border-color: #fe3921;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  border-radius: 3px;
  padding: 15px;
  min-width: 125px;
}
.D2C-FindStoreButton {
  background: transparent;
  margin: 0;
  border: 0;
  font-size: 16px;
  font-size: 1rem;
  color: #fff;
  background: #011e41;
  border-color: #011e41;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  border-radius: 3px;
  padding: 15px;
  min-width: 125px;
  margin: 20px 0 20px 0;
}
.OnlineRetailers-title {
  font-family: Semibold, Noto Sans, Arial, sans-serif;
  font-weight: 500;
}
.retailers {
  margin-top: 30px;
  margin-bottom: 10px;
}

.D2C-AddToBasketButton--btn {
  cursor: pointer;
}
@media only screen and (min-width: 540px) {
  .product-landing__rating-energy .rating {
    --set-rating-energy-height: var(--rating-height-16);
  }

  @media only screen and (min-width: 768px) {
    .D2CPDP-StockPrice-Left {
      display: inline;
    }
    .D2CPDP-StockPrice-Right {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }
  }
}
@media only screen and (min-width: 1024px) {
  .product-landing__title {
    margin-bottom: 20px;
    padding-bottom: 17px;
  }
  .product-landing__model-id {
    font-size: 14px;
    font-size: 0.875rem;
    margin-bottom: 6px;
  }
  .product-landing__model-name {
    font-size: 32px;
    font-size: 2rem;
    margin-bottom: 4px;
  }
  .D2CPDP-StockPrice-FormattedPrice {
    font-size: 32px;
    font-size: 2rem;
  }
}

.price-loading-skeleton {
  --base-color: #ebebeb;
  --highlight-color: #f5f5f5;
  --animation-duration: 1.5s;
  --animation-direction: normal;
  --pseudo-element-display: block;
  background-color: var(--base-color);
  width: max-content;
  min-width: 100px;
  height: 30px;
  border-radius: 0.25rem;
  display: inline-flex;
  line-height: 1;
  position: relative;
  overflow: hidden;
  z-index: 1;

  &::after {
    content: ' ';
    display: var(--pseudo-element-display);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    background-repeat: no-repeat;
    background-image: linear-gradient(
      90deg,
      var(--base-color),
      var(--highlight-color),
      var(--base-color)
    );
    transform: translateX(-100%);
    animation-name: react-loading-skeleton;
    animation-direction: var(--animation-direction);
    animation-duration: var(--animation-duration);
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
  }
}

@keyframes react-loading-skeleton {
  100% {
    transform: translateX(100%);
  }
}