.product-description {
  text-align: center;
  padding: 45px 20px 30px;
}
.product-description__main-title {
  font-size: 20px;
  text-align: center;
  margin-bottom: 15px;
}
.product-description__content-desc {
  max-width: 840px;
  margin: 0 auto;
}
@media only screen and (min-width: 768px) {
  .product-description__main-title {
    font-size: 32px;
  }
}